<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sigo.consultoria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ConsultoriaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.ConsultaNormasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.EmpresaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.UsuarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CategoriaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
    </application>

</manifest>